@import 'vars.scss';

$cta-btn-color: #50d8af;

.call-to-action {

  background: $color-1;
  background-size: cover;
  padding: 40px 0;
  font-family: $font-family-1;

  .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  .cta-text {
    color: #fff;
  }

  .cta-btn {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 3px;
    margin: 30px 10px 10px 10px;
    background: $cta-btn-color;
    border: 3px solid $cta-btn-color;
    color: #fff;
    text-decoration: none;
  }

}
