@import 'vars.scss';

#contact {
  
  padding: 170px 0px;

  .col-info {

    .info {
      color: #222;
  
      i {
        font-size: 32px;
        color: $color-1;;
        float: left;

        @media (max-width: 991.98px) {
          display: block;
          float: none !important;
        }

      }
  
      p {
        padding: 0 0 10px 50px;
        margin-bottom: 20px;
        line-height: 22px;
        font-size: 14px;

        @media (max-width: 991.98px) {
          padding-left: 0px !important;
        }

      }
  
      .email p {
        padding-top: 5px;
      }
  
    }

    @media (max-width: 991.98px) {
      text-align: center;
      margin-bottom: 50px;
    }

  }

  

  .social-links {

    padding-bottom: 20px;

    a {
      font-size: 18px;
      display: inline-block;
      background: $color-1;
      color: #fff;
      line-height: 1;
      padding: 6px 0 8px 0;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;

      i {
        margin-top: 3px;

        .fa-map-marker {
          margin: 5px 0px 0px 5px;
        }

      }

      &:hover {
        background: $color-1-dark;
        color: #fff;
      }


    }

  }

  .form {

    #sendmessage.show,
    #errormessage.show,
    .show {
      display: block;
    }

    #sendmessage {
      color: $color-1;
      border: 1px solid $color-1;
      display: none;
      text-align: center;
      padding: 15px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    #errormessage {
      color: $color-validation-error;
      display: none;
      border: 1px solid $color-validation-error;
      text-align: center;
      padding: 15px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .validation {
      color: $color-validation-error;
      display: none;
      margin: 0 0 20px;
      font-weight: 400;
      font-size: 13px;
    }

    input,
    textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 12px 10px;
      line-height: 1;
      resize: none;
    }

    button[type="submit"] {
      background: $color-1;
      border: 0;
      padding: 10px 24px;
      color: #fff;
      transition: 0.4s;

      &:hover {
        background: $color-1-dark;
        cursor: pointer;
      }

      @media (max-width: 575.98px) {
          margin-top: 20px;
          width: 100% !important;
          float: none !important;
      }

    }

  }

  @media (max-width: 575.98px) {
    padding: 120px 0px;
  }

}







