@import 'vars.scss';

.col-start-text{
    font-family: $font-family-1
}

$sky-blue: #6BC5DD;
$medium-blue: #2C7BA4;

#accordion {

    .panel{
        border: none;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 15px;
        font-family: $font-family-1;

        .panel-heading{
            padding: 0;
            border-radius:0;
            border: none;

            .panel-title {

                a{
                    display: block;
                    padding: 14px 30px 14px 70px;
                    font-size: 16px;
                    font-weight: bold;
                    color: #fff;
                    background: $sky-blue;
                    position: relative;
                    overflow: hidden;

                    &:before{
                        content: "";
                        width: 55px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: -13px;
                        transform: skewX(-25deg);
                        transition: all 0.5s ease 0s;
                    }

                    &:after{
                        content: "\f047";
                        font-family: FontAwesome;
                        position: absolute;
                        left: 10px;
                        top: 50%;
                        color: #fff;
                        transform: translateY(-50%);
                    }

                }

            }

        }

        .panel-body {
            font-size: 14px;
            color: $font-color-blue;;
            line-height: 25px;
            padding: 20px 15px 20px 40px;
            position: relative;
            border: none;

            &:before{
                content: "";
                width: 5px;
                height: 40px;
                background: $medium-blue;
                position: absolute;
                top: 30px;
                left: 0;
            }

            p{
                margin-bottom: 0;
            }

        }

    }

}
